<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">

<section class="login_main" layout:fragment="content">
    <form method="POST" class="login_form" th:action="@{/login}">
        <fieldset>
            <div class="input error" th:if="${param.error}">
                로그인 실패: 사용자 ID 또는 비밀번호 오류
            </div>
            <div class="input error"
                 th:if="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}"
                 th:text="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}">
            </div>
            <div class="input">
                <input placeholder="USERID" name="username"/>
            </div>
            <div class="input">
                <input placeholder="PASSWORD" type="password" name="password"/>
            </div>
            <div class="input">
                <div>
                    <input type="checkbox"/>
                    <label>Remember ID</label>
                </div>
            </div>
            <div class="input btn_box left">
                <button class="btn login">LOGIN</button>
            </div>
        </fieldset>
    </form>
</section>
</html>