section.detail {
    width:80vw;
    margin:10px auto;
    display:flex;

    border:1px solid blue;

}

section.detail div {
    display:flex;
    flex-wrap:wrap;

    width:50%;

    margin:0;
    padding:10px;
    justify-content:center;
    align-items:center;
    border:1px solid green;
}

section.detail label,
section.detail span {
    padding:0.5rem;
    margin:0;
    border:1px solid #ddd;
}

section.detail label {
    width:30%;
    background-color:#eee;
}

section.detail span {
    width:55%;
}




