table.list {
    width: 80%;
    margin:10px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table.list th {
    background-color: #ddd;
}

table.list th, table.list td {
    border-bottom: 1px solid #ddd;
    padding:1em;
    text-align: center;
}