<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript">
        const rootPath = /*[[ @{/} ]]*/ null
    </script>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" th:href="@{/static/css/form.css}">
    <title>똑 소리 독서록페스티벌</title>
</head>
<body>
<h1>hi</h1>
<th:block th:replace="fragment/headerAndFooter :: headerFragment"></th:block>
<th:block layout:fragment="content"></th:block>
<th:block th:replace="fragment/headerAndFooter :: footerFragment"></th:block>
</body>
</html>