<head th:fragment="headFragment">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>나라상사 고객관리</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>


<header th:fragment="headerFragment">나라상사 고객관리 시스템 2021V1</header>

<nav class="main_nav" th:fragment="navFragment">
    <ul>
        <li>Home</li>
        <li>주문관리</li>
        <li class="pay">결제관리</li>
        <li class="login">Login</li>
    </ul>
</nav>

<footer th:fragment="footerFragment">
    <address>CopyRight &copy; sk421120@naver.com</address>
</footer>