* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 2px 2px 2px gray;
    color: white;

    background-image: url("../image/3colors4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    background-color: aquamarine ;
    color: black;
}

section.content {
    flex: 1;
    overflow: auto;
}