<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}">
<section class="book_main" layout:fragment="content">
    <table class="book_list list">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>책제목</th>
        </tr>
        </thead>
        <tbody>
        <tr class="book_tr" th:each="BOOK : ${BLIST}" th:data-id="${BOOK.isbn}">
            <td th:text="${BOOK.isbn}">ISBN</td>
            <td th:text="${BOOK.title}">Title</td>
        </tr>
        </tbody>
    </table>
    <script>
        $(function () {
            $("table.book_list tbody tr").on("click", function () {
                var isbn = $(this).closest("tr").data("id")
                location.href = `/read/list/${isbn}`
            })
        })
    </script>
</section>

</html>